<div class="template-base">
    <header class="br-header mb-4" id="header" data-sticky="data-sticky">
        <div class="container-fluid">
            <div class="header-top">
                <div class="header-menu">
                    <div class="header-menu-trigger" id="header-navigation">
                        <button class="br-button small circle" type="button" aria-label="Menu"
                                data-toggle="menu" data-target="#main-navigation" id="navigation"
                                (click)="toggleMenu()">
                            <i class="fas fa-bars" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="header-info">
                        <div class="header-title">SISLANCA</div>
                        <div class="header-subtitle">Sistema de Lançamento de Créditos</div>
                    </div>
                </div>
                <div class="header-actions">
                    <div class="header-links dropdown">
                        <button class="br-button circle small" type="button" data-toggle="dropdown"
                                aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v"
                               aria-hidden="true"></i>
                        </button>
                        <div class="br-list">
                            <div class="header">
                                <div class="title">Acesso Rápido</div>
                            </div>
                            <a class="br-item" href="javascript:void(0)">Portal de Servicos</a>
                            <a class="br-item" href="javascript:void(0)">GDF</a>
                        </div>
                    </div><span class="br-divider vertical mx-half mx-sm-1"></span>
                    <div class="header-functions dropdown">
                        <button class="br-button circle small" type="button" data-toggle="dropdown"
                                aria-label="Abrir Funcionalidades do Sistema"><i class="fas fa-th"
                               aria-hidden="true"></i>
                        </button>
                        <div class="br-list">
                            <div class="header">
                                <div class="title">Funcionalidades do Sistema</div>
                            </div>
                            <div class="br-item">
                                <button class="br-button circle small" type="button"
                                        aria-label="Funcionalidade 3"><i class="fas fa-comment"
                                       aria-hidden="true"></i><span class="text">Funcionalidade
                                        3</span>
                                </button>
                            </div>
                            <div class="br-item">
                                <button class="br-button circle small" type="button"
                                        aria-label="Funcionalidade 4"><i class="fas fa-adjust"
                                       aria-hidden="true"></i><span class="text">Funcionalidade
                                        4</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header-login">
                        <div class="header-sign-in">
                            <button class="br-sign-in small" type="button" data-trigger="login"><i
                                   class="fas fa-user" aria-hidden="true"></i><span
                                      class="d-sm-inline">Entrar</span>
                            </button>
                        </div>
                        <div class="header-avatar"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="d-flex flex-fill mb-5" id="main">
        <div class="container-fluid d-flex">
            <div class="row">
                <div class="br-menu" id="main-navigation">
                    <div class="menu-container">
                        <div class="menu-panel">
                            <div class="menu-header">
                                <div class="menu-title">
                                    <img src="" alt="Imagem ilustrativa" />
                                    <span>Identificação do site ou Sistema</span>
                                </div>
                                <div class="menu-close">
                                    <button class="br-button circle" type="button"
                                            aria-label="Fechar o menu" data-dismiss="menu"><i
                                           class="fas fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <nav class="menu-body" role="tree">
                                <div class="menu-folder"><a class="menu-item"
                                       href="javascript: void(0)" role="treeitem"><span
                                              class="icon"><i class="fas fa-bell"
                                               aria-hidden="true"></i></span><span
                                              class="content">Camada 1</span></a>
                                    <ul>
                                        <li><a class="menu-item" href="javascript: void(0)"
                                               role="treeitem"><span class="icon"><i
                                                       class="fas fa-heart"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                        </li>
                                        <li><a class="menu-item" href="javascript: void(0)"
                                               role="treeitem"><span class="icon"><i
                                                       class="fas fa-address-book"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                            <ul>
                                                <li><a class="menu-item" href="javascript: void(0)"
                                                       role="treeitem"><span class="icon"><i
                                                               class="fas fa-book"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a></li>
                                                <li><a class="menu-item" href="javascript: void(0)"
                                                       role="treeitem"><span class="icon"><i
                                                               class="fas fa-tree"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a>
                                                    <ul>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="menu-item"
                                                       href="javascript: void(0)"><span
                                                              class="icon"><i class="fas fa-moon"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a class="menu-item" href="javascript: void(0)"><span
                                                      class="icon"><i class="fas fa-archive"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu-folder"><a class="menu-item"
                                       href="javascript: void(0)" role="treeitem"><span
                                              class="icon"><i class="fas fa-bell"
                                               aria-hidden="true"></i></span><span
                                              class="content">Camada 1</span></a>
                                    <ul>
                                        <li><a class="menu-item" href="javascript: void(0)"
                                               role="treeitem"><span class="icon"><i
                                                       class="fas fa-heart"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                        </li>
                                        <li><a class="menu-item" href="javascript: void(0)"
                                               role="treeitem"><span class="icon"><i
                                                       class="fas fa-address-book"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                            <ul>
                                                <li><a class="menu-item" href="javascript: void(0)"
                                                       role="treeitem"><span class="icon"><i
                                                               class="fas fa-book"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a></li>
                                                <li><a class="menu-item" href="javascript: void(0)"
                                                       role="treeitem"><span class="icon"><i
                                                               class="fas fa-tree"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a>
                                                    <ul>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="menu-item"
                                                       href="javascript: void(0)"><span
                                                              class="icon"><i class="fas fa-moon"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a class="menu-item" href="javascript: void(0)"><span
                                                      class="icon"><i class="fas fa-archive"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="menu-folder"><a class="menu-item"
                                       href="javascript: void(0)" role="treeitem"><span
                                              class="icon"><i class="fas fa-bell"
                                               aria-hidden="true"></i></span><span
                                              class="content">Camada 1</span></a>
                                    <ul>
                                        <li><a class="menu-item" href="javascript: void(0)"
                                               role="treeitem"><span class="icon"><i
                                                       class="fas fa-heart"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                        </li>
                                        <li><a class="menu-item" href="javascript: void(0)"
                                               role="treeitem"><span class="icon"><i
                                                       class="fas fa-address-book"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                            <ul>
                                                <li><a class="menu-item" href="javascript: void(0)"
                                                       role="treeitem"><span class="icon"><i
                                                               class="fas fa-book"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a></li>
                                                <li><a class="menu-item" href="javascript: void(0)"
                                                       role="treeitem"><span class="icon"><i
                                                               class="fas fa-tree"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a>
                                                    <ul>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                        <li><a class="menu-item"
                                                               href="javascript: void(0)"
                                                               role="treeitem"><span
                                                                      class="content">Camada
                                                                    4</span></a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="menu-item"
                                                       href="javascript: void(0)"><span
                                                              class="icon"><i class="fas fa-moon"
                                                               aria-hidden="true"></i></span><span
                                                              class="content">Camada
                                                            3</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a class="menu-item" href="javascript: void(0)"><span
                                                      class="icon"><i class="fas fa-archive"
                                                       aria-hidden="true"></i></span><span
                                                      class="content">Camada 2</span></a>
                                        </li>
                                    </ul>
                                </div><a class="menu-item divider" href="javascript: void(0)"
                                   role="treeitem"><span class="icon"><i class="fas fa-bell"
                                           aria-hidden="true"></i></span><span class="content">Item
                                        de Camada 1</span></a><a class="menu-item divider"
                                   href="javascript: void(0)" role="treeitem"><span class="icon"><i
                                           class="fas fa-bell" aria-hidden="true"></i></span><span
                                          class="content">Item de Camada 1</span></a>
                            </nav>
                            <div class="menu-footer">
                                <div class="menu-logos">
                                    <img src="" alt="Imagem ilustrativa" />
                                    <img src="" alt="Imagem ilustrativa" />
                                </div>
                                <div class="menu-links"><a href="javascript: void(0)"><span
                                              class="mr-1">Link externo 1</span><i
                                           class="fas fa-external-link-square-alt"
                                           aria-hidden="true"></i></a><a
                                       href="javascript: void(0)"><span class="mr-1">Link
                                            externo 2</span><i
                                           class="fas fa-external-link-square-alt"
                                           aria-hidden="true"></i></a></div>
                                <div class="social-network">
                                    <div class="social-network-title">Redes Sociais</div>
                                    <div class="d-flex"><a class="br-button circle"
                                           href="javascript: void(0)"
                                           aria-label="Compartilhar por Facebook"><i
                                               class="fab fa-facebook-f"
                                               aria-hidden="true"></i></a><a
                                           class="br-button circle" href="javascript: void(0)"
                                           aria-label="Compartilhar por Twitter"><i
                                               class="fab fa-twitter" aria-hidden="true"></i></a><a
                                           class="br-button circle" href="javascript: void(0)"
                                           aria-label="Compartilhar por Linkedin"><i
                                               class="fab fa-linkedin-in"
                                               aria-hidden="true"></i></a><a
                                           class="br-button circle" href="javascript: void(0)"
                                           aria-label="Compartilhar por Whatsapp"><i
                                               class="fab fa-whatsapp" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="menu-info">
                                    <div class="text-center text-down-01">Todo o conteúdo
                                        deste site está publicado sob a licença
                                        <strong>Creative Commons Atribuição-SemDerivações
                                            3.0</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-scrim" data-dismiss="menu" tabindex="0"></div>
                    </div>
                </div>
                <div class="col mb-5">
                    <app-breadcrumb></app-breadcrumb>
                    <div class="main-content pl-sm-3 mt-4" id="main-content">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>



    </main>
    <footer class="br-footer pt-3" id="footer">
        <div class="container-fluid">
            <div class="info">
                <div class="text-down-01 text-medium pb-3">
                    Algum texto relacionado à alguma&nbsp;
                    <strong><a href="">observação válida</a>.</strong>
                </div>
            </div>
        </div>
    </footer>
    <div class="br-cookiebar default d-none" tabindex="-1"></div>
</div>