<div class="br-section">
    <div class="br-section-header">
        <h5 class="br-section-title">Relatório Financeiro</h5>
    </div>

    <form class="br-form">
        <div class="row">
            <div class="col col-4 col-md-4">
                <br-input type="date" id="periodo-inicial" placeholder="Período Inicial"
                          formControlName="periodoInicial"></br-input>
            </div>
            <div class="col col-4 col-md-4">
                <br-input type="date" id="periodo-final" placeholder="Período Final"
                          formControlName="periodoFinal"></br-input>
            </div>
            <div class="col col-4 col-md-4">
                <br-select id="orgao" formControlName="orgao" placeholder="Órgão">
                    <option value="123" disabled selected>Órgão 123</option>
                    <option value="124" disabled selected>Órgão 124</option>
                    <option value="125" disabled selected>Órgão 125</option>
                    <option value="126" disabled selected>Órgão 126</option>
                    <option value="127" disabled selected>Órgão 127</option>
                </br-select>
            </div>
        </div>

        <div class="row">
            <div class="col br-col br-col-12">
                <div class="btn-group d-flex justify-content-md-end">
                    <br-button id="consultar" label="Consultar" type="primary" class="mt-3 mr-1"
                               (click)="consultar()" [attr.aria-labelledby]="'Consultar Débitos'">
                    </br-button>
                    <br-button id="limparDados" label="LImpar Dados" type="secondary"
                               class="mt-3 mr-1" (click)="limparDados()"
                               [attr.aria-labelledby]="'Limpar Dados'">
                    </br-button>
                    <br-button id="novoLancamento" label="Novo Lançamento" type="secondary"
                               class="mt-3 mr-1" (click)="voltar()"
                               [attr.aria-labelledby]="'Novo Lançamento'">
                    </br-button>
                </div>
            </div>
        </div>
    </form>
</div>